<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030737876872-c1qmjkc8ij5ahr0jq07a31hkk8jn1asj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030737876872-c1qmjkc8ij5ahr0jq07a31hkk8jn1asj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1030737876872-49tfda6vdarv58tpda933fknphpso5vg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-GN1Ohd6vSL-SNxt_4RVG7xVeEzxoDTk</string>
	<key>GCM_SENDER_ID</key>
	<string>1030737876872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marsmarkets.scanner</string>
	<key>PROJECT_ID</key>
	<string>mars-4f470</string>
	<key>STORAGE_BUCKET</key>
	<string>mars-4f470.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030737876872:ios:2a34f4657872bc2544cc3d</string>
</dict>
</plist>